body {
    font-family: "OpenSans", sans-serif;
}

div.output {
  font-family: monospace;
  background-color: #444;
  color: orange;
  margin-top: 4em;
  padding: 1em;
  clear: both;
  border: 1px solid black;
}

.container {
  width: 95%;
  padding: 2em;
  border: 1px solid black;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

#new {
  width: 95%;
  padding: 1em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.name {
  font-size: larger;
  font-weight: bold;
}

div.status {
  float: left;
  width: 50%;
  font-weight: bold;
}

div.control {
  float: left;
  width: 50%;
  text-align: right;
}

.error {
    color: red;
}

.control > * {
    margin-right: 1em;
}
